@import 'reset';
@import 'variables';
@import 'mixin.scss';

body{
    height: 100vh;
    background-color: $DBackground;
    font-size: 16x;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: $buttonTextColor;
}

.body-wrapper{
    min-width: inherit;
    min-height: inherit;
}

.navbar{
    width: 100%;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $DBackground;
    grid-template-columns: 2fr 6fr 2fr;
    justify-items: auto;
    height: $navHeight;
    .start{
        display: flex;
        justify-content: flex-start;
        
        .hamburger-btn{
            padding: 0.3rem;
            position: relative;
            top: -5px;
            a{
                color: white;
                display: block;
                padding: 1rem;
            }
        }

        .logo-icon{
            img{
                width: 100px;
                object-fit: contain;
                position: relative;
                top: 0;
            }
        }
    }

    .center{
        display: flex;
        align-items: center;
        justify-content: center;

        .search-bar{
            width: 100%;
            display: flex;
            justify-content: center;

            input{
                padding: 0.5rem;
                border-radius: 40px 0 0 40px;
                background-color: $DBackground;
                border:1.7px solid $buttonBGColor;
                text-indent: 2px;
                padding-left: 1rem;
                width: 520px;
                color: $buttonTextColor;
            }
            .input:focus{
                outline: 0.1px #3ea6ff solid;
            }

        }
    }

    .end{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .menu{
            position: relative;
            
            .nav_menu{
                position: absolute;
                right: 0;
                margin-top: 0.8rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                padding: 0.8rem 0 0.8rem 0;
                background-color: $DMenuBackground;
                font-size: 0.9rem;
                display: none;
                z-index: 10;

                *{
                    font-size: 14px;
                }

                a{
                    display: inline-block;
                    min-width: 18.75rem;
                    min-height: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;

                    i{
                        width: 10%;
                        margin-right: 0.8rem;
                        margin-left: 0.6rem;
                        font-size: 1.2rem;
                    }
                }
                a:hover{
                    background-color: $buttonBGColor;
                }

                .detail_menu::after{
                    text-rendering: auto;
                    font-family: "Font Awesome 6 Free";
                    content: "\f35a";
                    position: absolute;
                    right: 1rem;
                }

                .bordered{
                    @include defaultBorderBottom();
                    padding-top: 0.4rem;
                    padding-bottom: 0.4rem;
                }
        }

            .icon_button{
                margin-right: 0.7rem;
            }
        }

        

        button{
            padding: 0.8rem;
            border:none;
        }

        

        &:last-child{
            margin-right: 2.4rem;
        }
    }
}

.body-container{
    display: grid;
    grid-template-columns: auto 10fr;
    grid-template-rows: 100px 1fr 10fr;
    
    .closed {
        width: 75px;

        &::-webkit-scrollbar{
            display: none;
        }

        .section{
            display: none!important;
            p{
                display: inline-block;
            }
            button {
                flex-direction: column;
                gap: 0.4rem!important;
                font-size: 0.7rem;

            }
        }

        .section:nth-child(1){
            display: block!important;
            border-bottom: none;
        }
        .section:nth-child(2){
            display: block!important;
            border-bottom: none;
        }

    }

    .sidebar { 
        grid-row: 1/-1;
        position: sticky;
        top: $navHeight;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: (100vh - $navHeight);


        &::-webkit-scrollbar{
            background-color: $DBackground;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb{
            background: $buttonTextColor;
            border-radius: 1rem;
            display: none;
        }

        &:hover{
            &::-webkit-scrollbar-thumb{
                display: inline-block;
            }
            
        }
        
        .section{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 1rem;
            padding-bottom: 1rem;
            @include defaultBorderBottom();

            p,h1{
                margin-bottom: 1rem;
                margin-left: 1rem;
                align-self: flex-start;
            }

            button{
                display: flex;
                gap: 2rem;
            }

            .youtube{
                i{
                   color: red; 
                }
            }

            .active{
                background: $DMenuBackground;
            }
        }
        .button{
            width: 90%;
            padding: 0.8rem 1rem 0.8rem 1rem;
            background-color: $DBackground;

            &:hover{
                background-color: $DMenuBackground;
            }
        }
    }      

    .categories-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.2rem 0 1.2rem 0;
        height: 5vh;
        

        :first-child{
            background-color: #bbb;
            color: $DBackground
        }

        .button{
            margin: 12px 6px 12px 6px;
            padding: 10px;
            font-weight: bold;
            transition: 300ms ease background;

            &:hover{
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
    .site-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .content{
            display: flex;
            flex-direction: column;
            width: 90%;            
            border-bottom: 3px solid grey;
            
            .tab{
                display: flex;
                justify-content: space-around;
                margin-bottom: 2rem;

                .content-tab{
                    width: 23%;
                    display: flex;
                    flex-direction: column;
                    font-size: 0.89rem;
        
                    .content-tab__img{
                        position: relative;
                        font-size: 0.7rem;
                        img{
                            object-fit: contain;
                            max-width: 100%;
                            border-radius: 10px;
                        }
        
                        p{
                            position: absolute;
                            bottom: 0;
                            right: 0.4rem;
                            color: white;
                            background-color: $DMenuBackground;
                            border-radius: 5px;
                            padding: 0.3rem;
                            margin-bottom: 0.3rem;
                            font-weight: bold;
                        }
                    }
        
                    .content-tab__body{
                        width: 100%;
                        display: flex;
                        margin-top: 10px;
                        gap: 0.4rem;
        
                        img{
                            max-width: 2rem;
                            height: 2rem;
                        }
        
                        .description{
                            display: flex;
                            flex-direction: column;
                            gap: 0.4rem;
                            flex: 1 1 auto;
        
                            h4{
                                font-weight: bold;
                            }
                            p{
                                font-size: 0.8rem;
                            }
                            
                        }
                    }
                }
            
            }

            &:last-child{
                border-bottom: none;
            }
        }   
    }
}

//BUTTONS

.button{
    background-color: $buttonBGColor;
    color: $buttonTextColor;
    border-radius: 10px;
    border:none;
}

.search_button{
    border: 1px solid $buttonBGColor;
    background-color: $buttonBGColor;
    color: $buttonTextColor;

    *{
        color: $buttonTextColor;
        font-size: 1rem;
    }
}

.icon_button{
    border-radius: 100%;
    padding: 0.7rem 1rem;
    margin-left: 0.4rem;
    background-color: $DBackground;

    i{
        width: 100%;
        height: 100%;
    }

    &:focus{
        background-color: $DMenuBackground;
    }
}

.menu_button{
    padding: 0.7rem 1.5rem;
    position: relative;
    right: 4px;
    border-radius: 0 40px 40px 0;
}

.login_button{
    border-radius:2rem;
    color: #3ea6ff;
    background-color: $DBackground;
    font-weight: bold;
    border: 1px solid rgb(88, 87, 87);

    *{
        color: #3ea6ff;
    }

    i{
        margin-right: 0.3rem;
    }

    &:hover{
        background-color: rgb(1, 152, 253,0.4);
    }
}

button{
    &:hover{
        cursor: pointer;
    }
}