//DARK

$DBackground : #0f0f0f;
$DMenuBackground : #282828;
$DNavMenuBackground : #282828;
//BUTTONS
$buttonBGColor : hsl(0, 0%, 18.82%);
$buttonTextColor : #bbb;

// NAVBAR

$navHeight : 8vh;
$navbarContentBackground : #080808;


//COLORS 

$lightBlue : #3ea6ff;